* {
    margin: 0 auto;
}


.header {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 132, 255);
    color: white;
}

/* Main */

h1 {
    text-align: center;
    padding: 25px;
}
h2 {
    font-size: 30px;
}
select {
    font-size: 20px;
}
button {
    font-size: 16px;
}
input {
    font-size: 20px;
    height: 25px;
}
.close {
    position: absolute;
    margin: 20px 10px;
}
.inputData {
    float: left;
    margin: 30px;
    font-size: 24px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 250px;
}

.input-content {
    margin-left: 10px;
    line-height: 50px;
}

select {
    width: 210px;
    height: 30px;
}

/* Realty */


/* Repair */



#square {
    width: 200px;
}

/* Button */
.calculate {
    margin-top: 10px;
    width: 210px;
    height: 35px;
    background-color: rgb(0, 132, 255);
    border-radius: 5px;
    color: white;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* -------Вывод------ */
.result {
    width: 770px;
    /* height: 300px; */
    font-size: 24px;
    margin: 30px 30px;
    line-height: 60px;
    float: left;
    margin-left: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    
}

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
    body {
        max-width: 960px;
    }
}
/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
    body {
        max-width: 320px;
    }
    h1 {
        margin-left: 10px;
        font-size: 24px;
    }
    h2 {
        font-size: 24px;
    }
    .close {
        width: 40px;
    }
    .inputData {
        width: 300px;
        font-size: 20px;
        margin: 20px;
        padding: 10px;
        line-height: 30px;
    }
    .result {
        width: 100%;
        margin: 20px;
        line-height: 40px;
    }

    select {
        width: 290px;
    }

    #square {
        width: 280px;
    }
    /* Button */
    .calculate {
        width: 290px;
    }
}